@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

html {
  font-family: "Josefin Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
/* header-start------------------------------------------------ */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.rightnav{
  display: flex;
  gap: 30px;
  justify-items: baseline;
  list-style-type: none;
  padding-right: 25px;
}

.leftnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  
}
.divs .about{
  text-decoration: underline;

}


.div5 {
  padding: 10px;
  background-color: orange;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}
/* header end------------------------------------------ */
/* main start */
.main {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  width: 1100px;
  margin: 75px auto;
  line-height: 1.4;
  color: #595959;
  text-align: center;
}
.main h1{
  color: black;
  font-size: 48px;
}
.main h5{
  font-size: 20px;
}
.paragraphs{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 35px;
}

.button {
  padding-top: 50px;
  
}
.button a{
  text-decoration: none;
}
button{
  width: 180px;
  background-color: #5D2F00;
  font-size: 16px;
  padding: 12px 24px;
  font-family: inherit;
  transition: 0.05;
}

button:hover{
  opacity: 0.8;
}

.main img{
  width: 1100px;
  margin-top: 25px;
}

/* main end */
/*   footer start-------------------------------------------- */
.footer {
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
  align-items: center;
  
}
footer .footer-center {
  width: 500px;
  margin:  auto;
  text-align: center;
  line-height: 1.7;
}
footer .image {
  float: left;
  width: 65px;
  padding-left: 150px;
}
footer h4 {
  padding-right: 140px;
  padding-top: 25px;
  font-size: 22px;
}

footer .div-top {
  line-height: 1.5;
  float: center;
  width: 500px;
  margin: auto;
  padding-top: 30px ;
  text-align: center;
  margin-bottom: 30px;
}
footer .tel {
  display: block;
}
footer .div-center {
  padding: 70px 0px 100px 0px;
}
/* footer-end */
